<footer class="footer">
    <div class="footer__group container">
        
        <div class="footer__contain">
            <h3>¿Dónde nos ubicamos?</h3>
            <div class="footer__information">
                <i class="bi bi-geo-alt-fill"></i>
                <p>Av. Jose Granda Cdra 24 - SMP - Lima</p>
            </div>

            <div class="footer__information">
                <i class="bi bi-telephone-fill"></i>
                <p>123456789</p>
            </div>

            <div class="footer__information">
                <i class="bi bi-envelope-fill"></i>
                <p>informes@ iestpluisnegreiros. edu. pe</p>  
            </div>

        </div>

        <div class="footer__contain">
            <h3>Links</h3>
            <div class="footer__links">
                <a href="" class="footer__link">Inicio</a>
                <a href="" class="footer__link">Nosotros</a>
                <a href="" class="footer__link">Carreras</a>
                <a href="" class="footer__link">Comunicados</a>
                <a href="" class="footer__link">Admisión</a>
                <a href="" class="footer__link">Bienestar</a>
                <a href="" class="footer__link">Contáctanos</a>
            </div>
        </div>

        <div class="footer__contain">
            <h3>Contáctanos</h3>
            <div class="footer__icons">
                <a href="" class="footer__icon footer__icon__twitter"><i class="bi bi-twitter"></i></a>

                <a href="" class="footer__icon footer__icon__facebook"><i class="bi bi-facebook"></i></a>

                <a href="" class="footer__icon footer__icon__instagram"><i class="bi bi-instagram"></i></a>

            </div>
        </div>
    </div>
    <p class="footer__paragraph">Copyright ©2023 Todos los Derechos reservados</p>
   </footer>
