<section class="professionals">
    <h2 class="professionals__subtitle">Formando a los Profesionales Técnicos que el Perú requiere</h2>
</section>

<section class="review section">
    <div class="review__contain container">
        <h2 class="review__subtitle">Reseña Histórica</h2>
        <p>A petición de las autoridades y vecinos del distrito, fue creado el Instituto Superior Tecnológico Público ¨Luis Negreiros Vega¨ el 13 de agosto de 1986, mediante la R.M. N 505-86- ED, para brindar formación profesional en las especialidades de Electrónica, Mecánica, Automotriz y Mecánica de Producción.</p>
    
        <p>El Instituto empezó a funcionar en setiembre de 1990, realizándose el primer Examen de Admisión en el comedor popular de Condevilla Señor, siendo su primer Director Don Elmo Riberos Valderrama; ingresaron 133 alumnos. Por no contar con local propio el Instituto funciono en locales prestados, primero en el C.E.P.¨HENRY WALLON¨, luego en el colegio ¨José Granda¨, en el instituto Superior Tecnológico ¨María Rosario Araoz Pinto¨ y el CEOPROMAE Condevilla.</p>
    
        <p>La Asociación de Pobladores de Condevilla dono un terreno de más de 10,000 m2 para la construcción del local del Instituto. Luego de múltiples jornadas de lucha de los pobladores, docentes y estudiantes, y gestiones ante autoridades del Ministerio de Educación se construyó el local en el que funciona actualmente el Instituto. El funcionamiento de las carreras profesionales de Computación e Informática y de Contabilidad fue autorizado por la R.D.N 0171-97-ED y R.D.N 398-99-ED, respectivamente; y revalidado según R.D.N 343-2005-ED.</p>
    
        <p>La gestión del Instituto estuvo a cargo de los siguientes directores Elmo Rivero Flora Candela Percy Prado Alarcón, Antonio Molina Palomino, Ángel Peralta Benavente, Edmundo Rojas Cárdenas, Edith Días Rodríguez, Alejandro Pajares Bazán, Ardalion Henostroza Torres, Jesús Jaramillo Capitán, Juana Cabrera Tapia. Lic. Julio Gutiérrez Leyva, Lic. Mauricio Varillas Guzmán, Jesús Jaramillo Capitán y actualmente el director Lic. William Saldaña Pinto.</p>
    
        <p>En sus 34 años de existencia, el Instituto Educativo Superior Tecnológico Público ¨LUIS NEGREIROS VEGA¨, ha tenido un desarrollo sostenido. En la actualidad brinda formación profesional de alto nivel a más de 1000 estudiantes, en los turnos diurno y nocturno. Cuenta con una buena infraestructura, laboratorios, talleres y Centros de Cómputo, para cada una de las carreras profesionales</p>
    </div>
</section>

<div class="institute section">
    <img src="/assets/instituto.jpg" alt="Infraestructura del instituto">
</div>

<section class="admission section">
    <h2 class="section__title">Admisión 2024</h2>
    <p>Aperturamos nuestro proceso de admisión, a los jovenes emprendedores de nuestro pais.</p>
    <p> Ofrecemos educacion gratuita de calidad para 400 vacantes en nuestras 5 carreras profesionales Examen de admision: marzo 2024 TE ESPERAMOS</p>
</section>

<section class="values">
    <div class="values__contain container">
        <div class="values__cards">
            <h3>Misión</h3>
            <p class="">Somos una institución educativa que forma profesionales técnicos de alta empleabilidad innovadores y emprendedores con cultura de autoevaluación con solida formación humanística y científica a cargo de profesionales comprometidos capaces de contribuir al desarrollo productivo nacional.</p>  
        </div>
        <div class="values__cards values__cards--vision">
            <h3>Visión</h3>
            <p class="">Ser una institución educativa licenciada, líder en la formación de técnicos profesionales competitivos comprometidos con la preservación del medio ambiente capaces de enfrentar con éxito las demandas laborales del sector productivo a nivel nacional.</p>
        </div>
        <div class="values__cards values__cards--values">
            <h3>Valores</h3>
            <p>Innovación</p>
            <p>Responsabilidad</p>
            <p>Respeto</p>
            <p>Solidaridad</p>
            <p>Honestidad</p>
        </div>
    </div>
</section>

<section class="teacher section">
    <h2 class="section__title">Docentes Universitarios</h2>
    <p>Nuestros docentes, forman parte de importantes empresas e instituciones educativas de nivel superior reconocidas. Brindando una enseñanza acorde a nuestra innovadora propuesta modular Profesionales de gran trayectoria, formando a los lideres tecnologicos del mañana.</p>
</section>

<section class="picturesUs">
    <div class="pictureUs__contain container">

       <div class="pictureUs__card">
           <img src="/assets/nosotros1.png" alt="Imagen de estudiantes en el instituto">
       </div>
       
       <div class="pictureUs__card">
           <img src="/assets/nosotros2.png" alt="Imagen de estudiantes en el instituto">
       </div>

       <div class="pictureUs__card">
           <img src="/assets/nosotros3.png" alt="Imagen de estudiantes en el instituto">
       </div>

       <div class="pictureUs__card">
           <img src="/assets/nosotros4.png" alt="Imagen de estudiantes en el instituto">
       </div> 
       
    </div>
</section>
