.navegation{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--nav-color);
    z-index: 999;
  }
  .menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .hamburguer{
    cursor: pointer;
  }
  .logo-black{
    display: none;
  }
  .nav{
    position: absolute;
    top: 100%;
    left: -100%;
    
    width: 100%;

    z-index: 998; 
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--nav-color);

    transition: left .4s ease-in-out; 
  }
  #burguer:checked ~ .nav{
    left: 0;
   }
  
 .nav__link{
    position: relative;
    display: inline-block;

    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: var(--white-alpha-color);
    text-decoration: none;
    transition: border-bottom .1s;
    overflow: hidden;
  }


 .nav__link:hover{
  color: var(--black-color);
  background-color: #00f5d4;
  }
 
  .active{
    color: var(--white-color);
    font-weight: bold;
   }
 @media screen and (min-width: 64rem) {
  .navegation{
    position: static;
    background-color: var(--white-color);
    margin-top: 1rem;
  }
  .menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 92px;

  }
  .burguer{
    display: none;
  }
  .logo-white{
    display: none;
  }
  .logo-black{
    display: block;
    height: 79px;
    width: 76px;
  }
  .nav{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    height: inherit;
    width: 100%;
    background-color: white;
  }
  
  .nav__link{
    width: auto;
    padding: 1rem .5rem;
    margin-bottom: 0;
    margin: 0 8px;
    text-decoration: none;
    color: var(--text-nav-color);
    border-bottom: 3px solid transparent;
   }
   .nav__link::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: .25rem;
  background-color: var(--green-color);
  transition: width .4s ease, left .4s ease;
  
  }
  .nav__link:hover::after{
    width: 100%;
  }
  .nav__link::after{
    left: 0;
  }
 
   .nav__link:hover{
    background-color: transparent;
    }
   .active{
    color: var(--black-color);
   }
 }