
 .release {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets/admision.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding: 2rem 1rem;
 }
 .release__contain > a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition: transform .3s ease;
 }
 .release__contain > a:hover{
   transform: scale(1.019);
 }
 .release__contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     gap: 3rem 0;
   
    /* background-color: orange; */
 }
 .release__card{
     display: flex;
     flex-direction: column;
     max-width: 500px;
    align-items: center;
}
.release__card  h3{
    margin-top: .7rem;
    text-align: center;
    color: var(--white-color);
}
.release__img{
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
@media screen and (min-width: 64rem) {
   
    .release{
        /* height: 100vh; */
        padding: 4rem 0;
    }
    .release__contain {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:normal;
    
    }
    .release__card{
        max-width: 420px;
        /* height: 450px; */
    }
    .release__img{
        width: 420px;
        height: 290px;
        object-fit: cover;
        object-position: top;
    }
}

.specialties__contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;

    margin: 0 auto;
    max-width: 880px;

    background-color: var(--white-color);
}
.specialtie{
    /* flex-basis: 20%; */
    width: 200px;
}
.specialtie > h3,
.specialtie > p{
    text-align: center;
}
@media screen and (min-width: 48rem) {
    .specialties{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 80vh;
        background-color: var(--section-color);
    }
    .specialties__contain{
        justify-content: space-around;
        gap: 2rem;
        height: 350px;
        padding: 2rem 0;
         border-radius: 10px;
        box-shadow: 10px 10px 32px 0px #D1D9E6, -10px -10px 32px 0px rgba(255, 255, 255, 0.25);
    }
}