<section class="admission">
    <h2 class="section__title">Admisión</h2>
    <div class="release">
        <div class="release__contain container">

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica04.pdf" target="_blank" rel="noopener">
                <div class="release__card">   
                    <img src="assets/comunicado_admision.jpg" alt="" class="release__img">
                    <h3>Proceso de admisión para el examen de admisión 2023</h3>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica03.pdf" target="_blank" rel="noopener">
                <div class="release__card">
                    <img src="assets/comunicado_admision2.jpg" alt="" class="release__img">
                    <h3>Admisión</h3>
                </div>
            </a>
        </div>
    </div>
</section>


<section class="specialties section">
    <h2 class="section__title">Contacto de especialidades</h2>

    <div class="specialties__contain">
        <div class="specialtie">
            <h3>Nro. Computación</h3>
            <p>-</p>   
        </div>

        <div class="specialtie">
            <h3> Nro. Electrónica </h3>
            <p> 927-983-066 </p> 
        </div>

        <div class="specialtie">
            <h3 > Nro. Mec. Producción </h3>
            <p> 923-981-895 </p> 
        </div>

        <div class="specialtie">
            <h3 > Nro. Mec. Automotriz </h3>
            <p> 967-833-706 </p> 
        </div>

        <div class="specialtie">
            <h3> Nro. Contabilidad </h3>
            <p> 997-481-851 </p> 
        </div>
    </div>
</section>