<section class="news">
    <h2 class="section__title">Ultimas Noticias</h2>
    <div class="news__contain">
        <div class="communiques container">
            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica31b.pdf" target="_blank" rel="noopener">
                <div class="release">
                    <img src="assets/comunicado1.jpg" alt="Imagen de Convocatoria para cubrir licencia de Personal Administrativo de nuestra Insitutción">
                    <div class="release__contain">
                        <h3>Convocatoria para cubrir Licencia de Personal Administrativo del IESTP "Luis Negreiros Vega"</h3>
                        <p>El Comité de Selección, para cubrir plazas administrativas del Instituto Superior Tecnológico Publico "Luis Negreiros Vega".</p>
                        <p class="committee__text">El Comité</p>
                    </div>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica31a.pdf" target="_blank" rel="noopener">
                <div class="release">
                    <img src="assets/comunicado2.jpg" alt="Imagen del Cronograma del concurso de contratacion del personal Administrativo">
                    <div class="release__contain">
                        <h3>Cronograma del Concurso Proceso de Contratación del Personal Administrativo</h3>
                        <p>Cronograma del Concurso Proceso de Contratación del Personal Administrativo bajo el Régimen Laboral del Decreto Legislativo 276 en la Sede DRELM, Institutos y Escuelas de Educación Superior Publico para el periodo 2023.
                        </p>
                        <p class="committee__text">El Comité</p>
                    </div>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica30.pdf" target="_blank" rel="noopener">
                <div class="release">
                    <img src="assets/comunicado3.jpg" alt="Imagen de los precios de las practicas y Titulación">
                
                    <div class="release__contain">
                        <h3>Tasa de Precios de Prácticas y Titulación 2023</h3>
                        <p>Depósitos en el Banco de la Nación Cta. Cte. Nº 00000-289086 y canjearlo en el área de Tesoreria.</p>
                        <p class="committee__text">El Comité</p>
                    </div>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica29.pdf" target="_blank" rel="noopener">
                <div class="release">        
                    <img src="assets/comunicado4.jpg" alt="Imagen del comunicado del curso de suficiencia de ingles">
            
                    <div class="release__contain">
                        <h3>Comunicado de Curso de actualización de Suficiencia de Inglés</h3>
                        <p>Fechas del curso de Curso de actualización de Suficiencia de Inglés virtualmente.</p>
                        <p class="committee__text">Jefatura de Unidad Académica</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
