<section class="career">
    <h2 class="section__title">Plan de estudios y perfil profesional</h2>
    <div class="career__contain">
        <h3>Conoce nuestra malla curricular de carreras con mayor demanda laboral</h3>
    </div>
</section>

<section class="message section">
    <p class="message__title">"{{fraseAleatoria}}"</p>
</section>

<section class="mesh">
    <h2 class="section__title">Malla Curricular</h2>
    <div class="mesh__contain container">

        <div class="mesh__specialty">
            <div class="mesh__img">
                <img src="assets/computacion.png" alt="Imagen de una laptop usando el programa VS Code">
            </div>
            <div class="mesh__text">
                <h3>Computación e Informática</h3>
                <div class="mesh__cards">
                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/DC_Computacion.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-book-half"></i>
                            <h4>Plan de Estudios</h4>
                        </div>
                    </a>

                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/Perfil_computaci%C3%B3n.pdf" target="_blank" rel="noopener">
                    
                        <div class="mesh__card">
                            <i class="bi bi-person-circle"></i>
                            <h4>Perfil de Especialidad</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="mesh__specialty">
            <div class="mesh__img">
                <img src="assets/electronica.png" alt="Imagen referencial de un circuito electrico">
            </div>
            <div class="mesh__text">
                <h3>Eletrónica Industrial</h3>
                <div class="mesh__cards">
                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/DC_Electronica.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-book-half"></i>
                            <h4>Plan de Estudios</h4>
                        </div>
                    </a>

                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/Perfil_Electronica.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-person-circle"></i>
                            <h4>Perfil de Especialidad</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="mesh__specialty">
            <div class="mesh__img">
                <img src="assets/mecanica-produccion.png" alt="Imagen de una persona reparando un auto">
            </div>
            <div class="mesh__text">
                <h3>Mecánica de Producción</h3>
                <div class="mesh__cards">
                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/DC_Produccion.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-book-half"></i>
                            <h4>Plan de Estudios</h4>
                        </div>
                    </a>

                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/Perfil_Produccion.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-person-circle"></i>
                            <h4>Perfil de Especialidad</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="mesh__specialty">
            <div class="mesh__img">
                <img src="assets/mecanica-automotriz.png" alt="Imagen de 2 personas dando soporte tecnico a un auto">
            </div>
            <div class="mesh__text">
                <h3>Mecánica Automotriz</h3>
                <div class="mesh__cards">
                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/DC_Automotriz.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-book-half"></i>
                            <h4>Plan de Estudios</h4>
                        </div>
                    </a>

                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/Perfil_Automotriz.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-person-circle"></i>
                            <h4>Perfil de Especialidad</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="mesh__specialty">
            <div class="mesh__img">
                <img src="assets/contabilidad.png" alt="Imagen de una persona observando su celular, viendo calculos de dinero">
            </div>
            <div class="mesh__text">
                <h3>Contabilidad</h3>
                <div class="mesh__cards">
                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/DC_Contabilidad.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-book-half"></i>
                            <h4>Plan de Estudios</h4>
                        </div>
                    </a>

                    <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/Perfil_contabilidad.pdf" target="_blank" rel="noopener">
                        <div class="mesh__card">
                            <i class="bi bi-person-circle"></i>
                            <h4>Perfil de Especialidad</h4>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>
</section>