<section class="news">
    <h2 class="section__title">Empleabilidad</h2>
    <div class="news__contain">
        <div class="communiques container">
            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/admision/oportunidadlaboral.pdf" target="_blank" rel="noopener">
                <div class="release">
                    <img src="assets/bienestar1.jpg" alt="Imagen de oferta laboral">
                    <div class="release__contain">
                        <h3>Con el fin de promover la reactivación económica,la bolsa de trabajo del instituto presenta la siguiente publicación</h3>
                        <p>BC CONSULTORES es una empresa que se dedica a la consultoría contable, financiera tributaria y laboral</p>
                        <p class="committee__text">INNOVATION BUSINESS CONSULTANCY E.I.R.L</p>
                    </div>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/admision/ingles.pdf" target="_blank" rel="noopener">
                <div class="release">
                    <img src="assets/bienestar2.jpg" alt="Imagen relacionado a la Evaluación de suficiencia de Inglés">
                    <div class="release__contain">
                        <h3>Evaluación de Suficiencia de Inglés</h3>
                        <p>Se comunica a los egresados que han solicitado la Evaluación de Suficiencia Inglés que se adjunta al presente, se llevará a cabo en la Plataforma Meet</p>
                        <p class="committee__text">Jefatura de Unidad Académica</p>
                    </div>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/admision/invitacion.pdf" target="_blank" rel="noopener">
                <div class="release">
                    <img src="assets/bienestar3.jpg" alt="Imagen de los precios de las practicas y Titulación">
                
                    <div class="release__contain">
                        <h3>Invitación al primer encuentro virtual de Egresados del IESTP "Luis Negreiros Vega"</h3>
                        <p>El IESTP "Luis Negreiros Vega",tiene el honor de extender la invitación al 1er Encuentro de Egresados del IESTP "Luis Negreiros Vega".</p>
                        <p class="committee__text">Luis Negreiros Vega</p>
                    </div>
                </div>
            </a>

            <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/comunicados/comunica29.pdf" target="_blank" rel="noopener">
                <div class="release">        
                    <img src="assets/bienestar4.jpg" alt="Imagen del comunicado del curso de suficiencia de ingles">
            
                    <div class="release__contain">
                        <h3>Derecho de la Mujer frente al Acoso</h3>
                        <p>Capacitación virtual de Derecho de la Mujer frente al acoso.</p>
                        <p class="committee__text">Unidad de Bienestar y Empleabilidad</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="information container section">
    <h3 class="information__subtitle">Coronavirus 2019 (COVID-19)</h3>
    <p>Los coronavirus (CoV) son una amplia familia de virus que pueden causar diversas afecciones, desde el resfriado común hasta enfermedades más graves, como ocurre con el coronavirus causante del síndrome respiratorio de Oriente Medio (MERS-CoV) y el que ocasiona el síndrome respiratorio agudo severo (SRAS-CoV). Un nuevo coronavirus es una nueva cepa de coronavirus que no se había encontrado antes en el ser humano.</p>

    <p>Esas infecciones suelen cursar con fiebre y síntomas respiratorios (tos y disnea o dificultad para respirar). En los casos más graves, pueden causar neumonía, síndrome respiratorio agudo severo, insuficiencia renal e, incluso, la muerte.</p>

    <p>Las recomendaciones habituales para no propagar la infección son la buena higiene de manos y respiratoria (cubrirse la boca y la nariz al toser y estornudar) y la cocción completa de la carne y los huevos. Asimismo, se debe evitar el contacto estrecho con cualquier persona que presente signos de afección respiratoria, como tos o estornudos.</p>

    <h3 class="information__subtitle">¿Cómo se propaga el COVID-19?</h3>
    <p>Es probable que el virus que causa el COVID-19 haya surgido de una fuente animal, pero ahora se está propagando de persona a persona. Se cree que el virus se propaga principalmente entre las personas que están en contacto cercano unas con otras (dentro de 6 pies de distancia), a través de las gotitas respiratorias que se producen cuando una persona infectada tose o estornuda. También podría ser posible que una persona contraiga el COVID-19 al tocar una superficie u objeto que tenga el virus y luego se toque la boca, la nariz o posiblemente los ojos, aunque no se cree que esta sea la principal forma en que se propaga el virus. Infórmese sobre lo que se sabe acerca de la propagación de los coronavirus de reciente aparición en https://www.cdc.gov/ coronavirus/2019-ncov/about/transmission-sp.html</p>

    <h3 class="information__subtitle">¿Qué puedo hacer para ayudar a protegerme?</h3>
    <p>Las personas se pueden proteger de las enfermedades respiratorias tomando medidas preventivas cotidianas.
    <p>Evite el contacto cercano con personas enfermas.</p>
    <p>Evite tocarse los ojos, la nariz y la boca con las manos sin lavar.</p>
    <p>Lávese frecuentemente las manos con agua y jabón por al menos 20 segundos. Use un desinfectante de manos que contenga al menos un 60 % de alcohol si no hay agua y jabón disponibles.</p>

</section>

<section class="specialties section">
    <h2 class="section__title">Contacto de especialidades</h2>

    <div class="specialties__contain">
        <div class="specialtie">
            <h3>Nro. Computación</h3>
            <p>-</p>   
        </div>

        <div class="specialtie">
            <h3> Nro. Electrónica </h3>
            <p> 927-983-066 </p> 
        </div>

        <div class="specialtie">
            <h3 > Nro. Mec. Producción </h3>
            <p> 923-981-895 </p> 
        </div>

        <div class="specialtie">
            <h3 > Nro. Mec. Automotriz </h3>
            <p> 967-833-706 </p> 
        </div>

        <div class="specialtie">
            <h3> Nro. Contabilidad </h3>
            <p> 997-481-851 </p> 
        </div>
    </div>
</section>



<section class="picturesUs">
    <div class="pictureUs__contain container">

       <div class="pictureUs__card">
           <img src="/assets/nosotros1.png" alt="Imagen de estudiantes en el instituto">
       </div>
       
       <div class="pictureUs__card">
           <img src="/assets/nosotros2.png" alt="Imagen de estudiantes en el instituto">
       </div>

       <div class="pictureUs__card">
           <img src="/assets/nosotros3.png" alt="Imagen de estudiantes en el instituto">
       </div>

       <div class="pictureUs__card">
           <img src="/assets/nosotros4.png" alt="Imagen de estudiantes en el instituto">
       </div> 
       
    </div>
</section>


