<section class="title">
    <h2>Conoce los costes y trámites de la institución</h2>
 </section>

<section class="formalities">
    <h2 class="section__title">Trámite Documentario</h2>
    <div class="formalities__container container">

        <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/Tramites2023.pdf" target="_blank" rel="noopener">
            <div class="formalitie">
                <i class="bi bi-card-checklist"></i>
                <p>Procedimientos y requisitos de trámite</p>
            </div>
        </a>

        <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/tramites/tasas_educativas_2023.pdf" target="_blank" rel="noopener">
            <div class="formalitie">
                <i class="bi bi-currency-dollar"></i>
                <p>Tasas educativas</p>
            </div>
        </a>

        <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/ruta.pdf" target="_blank" rel="noopener">
            <div class="formalitie">
                <i class="bi bi-journal-text"></i>
                <p>Hoja de ruta de Titulación</p>
            </div>
        </a>

        <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/2023/tramites/tramites_202310.png" target="_blank" rel="noopener">
            <div class="formalitie">
                <i class="bi bi-mortarboard"></i>
                <p>Costos de los Trámites de Titulación</p>
            </div>
        </a>

        <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/Carreras_N/reglamento_titulacion_2022.pdf" target="_blank" rel="noopener">
            <div class="formalitie">
                <i class="bi bi-book"></i>
                <p>Reglamento de Titulación</p>
            </div>
        </a>

        <a href="https://www.iestpluisnegreiros.edu.pe/mesapartes/mesadepartes_v2/index.php" target="_blank" rel="noopener">
            <div class="formalitie">
                <i class="bi bi-laptop"></i>
                <p>Mesa de Partes</p>
            </div>
        </a>
    </div>
</section>


<section class="conditions">
    <h2 class="section__title">Condiciones y Procedimientos</h2>
    <div class="conditions__section">
        <div class="conditions__contain container">

            <div class="condition__card">
                <h3>Condiciones Generales</h3>
                <p>Antes de iniciar un trámite, debe cumplir con los siguientes requisitos:</p>
                <p>- Los trámites son personales</p>
                <p>- No tener deuda con nuestra institución</p>
                <p>- Cumplir los requisitos correspondientes a cada trámite</p>
                <p>- El IESTP "Luis Negreiros Vega" no se responsabiliza por los pagos efectuados, sin cumplir los requisitos</p>
                <p>- Todos los pagos se realizan en el <b>BANCO DE LA NACION</b>, le entregarán un BOUCHER.</p>
                <p>- Enviar Boucher de depósito del Banco de la Nación al correo tesoreria@iestpluisnegreiros.edu.pe. Este Boucher será canjeado por nuestro RECIBO DE CAJA (área de Tesoreria).</p>
            </div>
    
            <div class="condition__card">
                <h3>Procedimiento de trámites</h3>
                <p>- Los trámites son personales</p>
                <p>- No tener deuda con nuestra institución</p>
                <p>- Cumplir los requisitos correspondientes a cada trámite</p>
                <p>- El IESTP "Luis Negreiros Vega" no se responsabiliza por los pagos efectuados, sin cumplir los requisitos.</p>
                <p>- Todos los pagos se realizan en el BANCO DE LA NACION, le entregarán un BOUCHER</p>
                <p>- Enviar Boucher de depósito del Banco de la Nación al correo tesoreria@iestpluisnegreiros.edu.pe. Este Boucher será canjeado por nuestro RECIBO DE CAJA (área de Tesoreria).</p>
            </div>
        </div>
    
        <div class="conditions__contain container">
            <div class="condition__card condition__card--interest">
                <h3>Enlaces de intereses</h3>
    
                <p>- Constancia de logros de aprendiaje (MINEDU)</p>
                <p>- Busqueda para obtener información de instituciones educativas (MINEDU)</p>
                <p>- Consulta de títulos de instituciones tecnológicas (MINEDU)</p>
            </div>
    
            <div class="condition__card condition__card--links">
                <a href="https://www.iestpluisnegreiros.edu.pe/assents/theme/reclamacion/index.htm" target="_blank" rel="noopener">
                    <img src="assets/reclamaciones.png" alt="Imagen de un libro abierto, mesa de partes">
                </a>
            
            </div>
        </div>
    </div>
    
</section>